<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HumanResource</display-name>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityStateServlet</display-name>
    <servlet-name>CityStateServlet</servlet-name>
    <servlet-class>Controllers.CityStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityStateServlet</servlet-name>
    <url-pattern>/CityStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZoneMasterServlet</display-name>
    <servlet-name>ZoneMasterServlet</servlet-name>
    <servlet-class>Controllers.ZoneMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZoneMasterServlet</servlet-name>
    <url-pattern>/ZoneMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEditCityStateServlet</display-name>
    <servlet-name>AddEditCityStateServlet</servlet-name>
    <servlet-class>Controllers.AddEditCityStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEditCityStateServlet</servlet-name>
    <url-pattern>/AddEditCityStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SocietyTypeServlet</display-name>
    <servlet-name>SocietyTypeServlet</servlet-name>
    <servlet-class>Controllers.SocietyTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SocietyTypeServlet</servlet-name>
    <url-pattern>/SocietyTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>Controllers.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/MemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildingServlet</display-name>
    <servlet-name>BuildingServlet</servlet-name>
    <servlet-class>Controllers.BuildingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildingServlet</servlet-name>
    <url-pattern>/BuildingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEditZoneServlet</display-name>
    <servlet-name>AddEditZoneServlet</servlet-name>
    <servlet-class>Controllers.AddEditZoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEditZoneServlet</servlet-name>
    <url-pattern>/AddEditZoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasicServlet</display-name>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>Controllers.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>/BasicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeGroupMasterServlet</display-name>
    <servlet-name>HomeGroupMasterServlet</servlet-name>
    <servlet-class>Controllers.HomeGroupMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeGroupMasterServlet</servlet-name>
    <url-pattern>/HomeGroupMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupMasterServlet</display-name>
    <servlet-name>GroupMasterServlet</servlet-name>
    <servlet-class>Controllers.GroupMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupMasterServlet</servlet-name>
    <url-pattern>/GroupMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGroupServlet</display-name>
    <servlet-name>AddGroupServlet</servlet-name>
    <servlet-class>Controllers.AddGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroupServlet</servlet-name>
    <url-pattern>/AddGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchServlet</display-name>
    <servlet-name>BranchServlet</servlet-name>
    <servlet-class>Controllers.BranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchServlet</servlet-name>
    <url-pattern>/BranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBranchServlet</display-name>
    <servlet-name>AddBranchServlet</servlet-name>
    <servlet-class>Controllers.AddBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBranchServlet</servlet-name>
    <url-pattern>/AddBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HolidayServlet</display-name>
    <servlet-name>HolidayServlet</servlet-name>
    <servlet-class>Controllers.HolidayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolidayServlet</servlet-name>
    <url-pattern>/HolidayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DesignationMasterServlet</display-name>
    <servlet-name>DesignationMasterServlet</servlet-name>
    <servlet-class>Controllers.DesignationMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DesignationMasterServlet</servlet-name>
    <url-pattern>/DesignationMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDesignationServlet</display-name>
    <servlet-name>AddDesignationServlet</servlet-name>
    <servlet-class>Controllers.AddDesignationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDesignationServlet</servlet-name>
    <url-pattern>/AddDesignationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QualificationServlet</display-name>
    <servlet-name>QualificationServlet</servlet-name>
    <servlet-class>Controllers.QualificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualificationServlet</servlet-name>
    <url-pattern>/QualificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQualificationServlet</display-name>
    <servlet-name>AddQualificationServlet</servlet-name>
    <servlet-class>Controllers.AddQualificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQualificationServlet</servlet-name>
    <url-pattern>/AddQualificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssetServlet</display-name>
    <servlet-name>AssetServlet</servlet-name>
    <servlet-class>Controllers.AssetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetServlet</servlet-name>
    <url-pattern>/AssetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssetDAO</display-name>
    <servlet-name>AssetDAO</servlet-name>
    <servlet-class>DAO.AssetDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetDAO</servlet-name>
    <url-pattern>/AssetDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAssetServlet</display-name>
    <servlet-name>AddAssetServlet</servlet-name>
    <servlet-class>Controllers.AddAssetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAssetServlet</servlet-name>
    <url-pattern>/AddAssetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentMasterServlet</display-name>
    <servlet-name>DepartmentMasterServlet</servlet-name>
    <servlet-class>Controllers.DepartmentMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentMasterServlet</servlet-name>
    <url-pattern>/DepartmentMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepartmentServlet</display-name>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <servlet-class>Controllers.AddDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <url-pattern>/AddDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCompanyServlet</display-name>
    <servlet-name>TestCompanyServlet</servlet-name>
    <servlet-class>Controllers.TestCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCompanyServlet</servlet-name>
    <url-pattern>/TestCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeTypeServlet</display-name>
    <servlet-name>EmployeeTypeServlet</servlet-name>
    <servlet-class>Controllers.EmployeeTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeTypeServlet</servlet-name>
    <url-pattern>/EmployeeTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeTypeServlet</display-name>
    <servlet-name>AddEmployeeTypeServlet</servlet-name>
    <servlet-class>Controllers.AddEmployeeTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeTypeServlet</servlet-name>
    <url-pattern>/AddEmployeeTypeServlet</url-pattern>
  </servlet-mapping>
</web-app>